# This file defines individuals or teams that are responsible for code in the repository.
#
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#

* ali.ustek@collibra.com
